
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {{!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> --}}

    <title>Your App - {{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom styles for this template -->
    <link href="../assets/css/custom.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />

  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      {{!-- <a href="/"> --}}
        <h5 class="my-0 mr-md-auto font-weight-normal"> <a href="/">Logo Here</a>  </h5>
      {{!-- </a> --}}
      {{#if email }}

        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/logged-in">View Profile</a>
          <a class="p-2 text-dark" href="/config-site">Config Site</a>
        </nav>
            <a class="btn btn-outline-primary" href="/auth/logout">Logout</a>
      {{/if}}
      {{!-- <a class="btn btn-outline-primary" href="#">Sign up</a> --}}
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4"></h1>
      {{!-- <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p> --}}
    </div>

    <div class="container">
      
      {{!-- <div style="margin-top: 50px;"> --}}

          {{{body}}}

      {{!-- </div> --}}
      

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            {{!-- <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> --}}
            <small class="d-block mb-3 text-muted">&copy; Copyright, 2021</small>
          </div>
          <div class="col-6 col-md">
          </div>
          <div class="col-6 col-md">
          </div>
          <div class="col-6 col-md">
          </div>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>
    {{!-- <script type="text/javascript" src="https://www.prepbootstrap.com/Content/data/shortGridData.js"></script> --}}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    {{!-- <script src="../../assets/js/vendor/popper.min.js"></script> --}}
    <script src="../assets/js/bootstrap.min.js"></script>
    {{!-- <script src="../../assets/js/vendor/holder.min.js"></script> --}}
    <script>
    </script>
  </body>
</html>
