<form class="form-signin">
  <div class="text-center mb-4">
  {{!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> --}}
  <h1 class="h3 mb-3 font-weight-normal"></h1>
  </div>

  {{#ifCond email null}}
    <a class="btn btn-lg btn-primary btn-block" href="/auth/google">Register/Login Using Google</a>
  {{else}}
    <a class="btn btn-lg btn-primary btn-block" href="/logged-in">Go to Profile</a>
  {{/ifCond}}
</form>