<form class="needs-validation" id="config-form" method="post" action="/config-site/{{ id }}">

    <div class="row">
        
        <div class="col-md-12 order-md-2 mb-4">
            <h4 class="mb-3">Config Form</h4>

            <div class="text-right">
                <span>
                  <i class="fa fa-question-circle red-tooltip text-tooltip" data-toggle="tooltip" data-html="true" title="It will render as conversation plain text"></i>
                  <i class="fa fa-question-circle red-tooltip image-tooltip" data-toggle="tooltip" data-html="true" title="<img src='../../assets/images/tooltip/image.png' alt='image' width='150'/>"></i>
                  <i class="fa fa-question-circle red-tooltip video-tooltip" data-toggle="tooltip" data-html="true" title="<img src='../../assets/images/tooltip/video.png' alt='image' width='150'/>"></i>
                  <i class="fa fa-question-circle red-tooltip button-tooltip" data-toggle="tooltip" data-html="true" title="<img src='../../assets/images/tooltip/button.png' alt='image' width='150'/>"></i>
                  <i class="fa fa-question-circle red-tooltip grid-tooltip" data-toggle="tooltip" data-html="true" title="<img src='../../assets/images/tooltip/grid.png' alt='image' width='150'/>"></i>
                  <i class="fa fa-question-circle red-tooltip feedback-tooltip" data-toggle="tooltip" data-html="true" title="<img src='../../assets/images/tooltip/feedback.png' alt='image' width='150'/>"></i>
                  <i class="fa fa-question-circle red-tooltip order-tooltip" data-toggle="tooltip" data-html="true" title="<img src='../../assets/images/tooltip/order.png' alt='image' width='150'/>"></i>
                </span>               
<!--                 <i class="fa fa-plus-square" onclick="addRow('dataTable')"  title="Click to Add More"></i>
                 <i class="fa fa-trash" onclick="deleteRow('dataTable')"  title="Click to Delete "></i>   -->               
            </div>
            <div class="text-right">
               
            </div>
            <hr class="mb-3">

            <table id="dataTable" width="100%" border="0">
                <tbody class="table-body">
                    <tr class="table-row">
                    <td width="20">                     
                        <select onchange="grab(this)" name="populated_List[]" class="form-control popList" required id="popList">
                            <option value="">Select Type</option>
                            <option value="button">Button</option>
                            <option value="text">Text</option>
                            <option value="image">Image</option>
                            <option value="video">Video</option>
                            <option value="grid">Grid</option>
                            <!-- <option value="feedback">Feedback</option> -->
                            <!-- <option value="order">Order</option> -->
                        </select>
                        <div class="pad5">
                          <input type="text" required id="Reqq" name="Reqq[]" class="form-control" placeholder="Req"/>
                        </div>
                    </td>
                    <!--<td width="100"><input type="text" name="Reqq[]" class="form-control" placeholder="Req"/></td>-->
                    <td width="250"><textarea type="text" name="Response[]" class="form-control response" placeholder="Response" id="output" /></textarea></td>
                    <td width="80">
                      <input type="text" id="freetext" name="freetext[]" class="form-control freetext" placeholder="Image or Video Url"/>
                      <div class="show_addl">
                      <table id="show_button" width="100%" border="0">
                        <tbody class="table-body">
                          <tr class="table-row">
                            <td width="65">                        
                              <fieldset name="show_button[]">
                                <div class="pad5">
                                  <select onchange="" name="buttontype[]" class="form-control buttontype" id="buttontype">
                                      <option value="">Button Type</option>
                                      <option value="web_url">Redirect</option>
                                      <option value="postback">Postback</option>
                                  </select>
                                </div>
                                <div class="pad5">
                                  <input type="text" name="btn_url[]" class="form-control btn_url" placeholder="Redirect Url"/>
                                </div>
                                <div class="pad5">
                                  <input type="text" name="btn_txt[]" class="form-control btn_txt" placeholder="Button Label"/> 
                                </div>
                                <div class="text-right">
                                  <i class="fa fa-plus-square" onclick="addRow('show_button')"  title="Add More Button"></i>
                                   <i class="fa fa-trash" onclick="deleteRow('show_button')"  title="Click to Delete "></i>
                                </div>                          
                              </fieldset>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table id="show_grid" width="100%" border="0">
                        <tbody class="table-body">
                          <tr class="table-row">
                            <td width="65">                        
                              <fieldset name="show_grid[]">
                                <div class="col-md-6" style="float: left;"> 
                                  <div class="pad5">  
                                    <input type="text" name="grid_title[]" class="form-control grid_title" placeholder="Title"/>
                                  </div>
                                  <div class="pad5">  
                                    <input type="text" name="grid_subtitle[]" class="form-control grid_subtitle" placeholder="Sub title"/>
                                  </div>
                                  <div class="pad5">  
                                    <input type="text" name="grid_image_url[]" class="form-control grid_image_url" placeholder="Image Url"/>
                                  </div>
                                </div>
                                <div class="col-md-6" style="float: left;"> 
                                  <div class="pad5">
                                    <select onchange="" name="gridbuttontype[]" class="form-control gridbuttontype" id="gridbuttontype">
                                        <option value="">Button Type</option>
                                        <option value="web_url">Redirect</option>
                                        <option value="postback">Postback</option>
                                    </select>
                                  </div>
                                  <div class="pad5">
                                    <input type="text" name="gridbtn_url[]" class="form-control gridbtn_url" placeholder="Redirect Url"/>
                                  </div>
                                  <div class="pad5">
                                    <input type="text" name="gridbtn_txt[]" class="form-control gridbtn_txt" placeholder="Button Label"/> 
                                  </div>
                                </div>
                                <div class="text-right">
                                  <i class="fa fa-plus-square" onclick="addRow('show_grid')"  title="Add More Button"></i>
                                   <i class="fa fa-trash" onclick="deleteRow('show_grid')"  title="Click to Delete "></i>
                                </div>                          
                              </fieldset>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>                   
                    </td>
                </tr>
                </tbody>
                
            </table>         
            
        </div>

    </div>

    <div class="col-sm-2">      
        <button class="btn btn-primary btn-md btn-block" type="submit">Submit</button>
    </div>
</form>

<br/>
<hr class="mb-4">

<div class="col-md-12">

        <div class="output"> </div>

        <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="">Records </h4>
        </div>
        <div class="panel-body">  
            <div class="loading"></div>

            <div id="grid"></div>
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
})
    

    function grab(event){
        let x=$(event).val()
        let resp = $(event).closest('tr').find('.response');
       // alert($(resp).val());
        if(x != ""){
            let fd= new FormData();
            fd.append('uid', x)
            let url = window.location.origin + "/fetch-response/" + x
            fetch(url ,{
                method : 'GET',
                headers : {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
            }).then(res=> res.json()).then(res=>{
                if(res.statusCode == 200){
                    let data = JSON.parse(JSON.stringify(res.message));
                    resp.val(data);
                    // console.log(data)
                }
            }).catch(err=>{
                console.log(err)
            })
        }
    }

    function addRow (tblID) {
        
        var table = document.getElementById(tblID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var colCount = table.rows[0].cells.length;

        for(var i=0; i<colCount; i++) {

            var newcell	= row.insertCell(i);

            newcell.innerHTML = table.rows[0].cells[i].innerHTML;
            //alert(newcell.childNodes);
            switch(newcell.childNodes[0].type) {
                case "text":
                        newcell.childNodes[0].value = "";
                        break;
                case "checkbox":
                        newcell.childNodes[0].checked = false;
                        break;
                case "select-one":
                        newcell.childNodes[0].selectedIndex = 0;
                        break;
            }
        }

    }

    function deleteRow (tblID) {
        
        var table = document.getElementById(tblID);

        var rowCount = table.rows.length;
        if(rowCount > 1){
            //table.getElementsByTagName('tr')[rowCount-1].romove();
            lastRow=rowCount-1;
            $('#'+tblID).find('tr:last').remove();
        }
    }

    const loadingImage = () => {
        let elem = document.createElement("img")
        elem.setAttribute("src", window.location.origin + "/assets/images/loading.gif")
        elem.setAttribute("width", 55);
        document.querySelector(".loading").appendChild(elem)
    }

    loadingImage()

    let y = $('.outRes').html()
    
    if(y != ""){

        let url = window.location.origin + "/user-config"
        fetch(url ,{
            method : 'GET',
            headers : {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
        }).then(res=> res.json()).then(res=>{

            $('.loading').empty()

           var gridData = res.message

            $(document).ready(function () {
                $("#grid").shieldGrid({
                    dataSource: {
                        data: gridData,
                        schema: {
                            fields: {
                                id: { path: "_id", type: String },
                                req: { path: "req", type: String },
                                response: { path: "response", type: String }
                            }
                        }
                    },
                    sorting: {
                        multiple: true
                    },
                    events: {
                        command: function(e) {
                            if(e.commandName == 'save'){
                                let data = e.target.dataSource.tracker.changes.edited[0].data
                                let x = {
                                    id: data.id,
                                    req_q: data.req,
                                    response: data.response
                                }
                                if(data.id){
                                    let url = window.location.origin + "/update-config"
                                    fetch(url ,{
                                        method : 'POST',
                                        headers : {
                                            'Accept':'application/json',
                                            'Content-Type':'application/json'
                                        },
                                        body : JSON.stringify(x)
                                    }).then(res=> res.json()).then(res=>{
                                        if(res.statusCode == 200){
                                            $('.output').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            ${res.message}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>`)
                                        }else{
                                            $('.output').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${res.message}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>`)
                                        }
                                    }).catch(err=>{
                                         $('.output').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            ${err}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>`)
                                    })
                                }
                            }
                            
                            //console.log(row) 
                        }    
                    },
                    rowHover: false,
                    columns: [
                        { field: "req", title: "Req", width: "200px" },
                        { field: "response", title: "Response" },              
                        {
                            width: 70,
                            title: "Action",
                            buttons: [
                                { commandName: "edit", caption: "Edit" },
                                { commandName: "delete", caption: "Delete" }
                            ]
                        }
                    ],
                    editing: {
                        enabled: true,
                        mode: "popup",
                        confirmation: {
                            "delete": {
                                enabled: true,
                                template: function (item) {

                                    var x = confirm("This record will be deleted. Are you sure you want to delete?");

                                    if (x){
                                        let url = window.location.origin + "/delete-config/" + item.id
                                        fetch(url ,{
                                            method : 'GET',
                                            headers : {
                                                'Accept':'application/json',
                                                'Content-Type':'application/json'
                                            }
                                        }).then(res=> res.json()).then(res=>{
                                            if(res.statusCode == 200){
                                                $('.output').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
                                                ${res.message}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>`)
                                            }else{
                                                $('.output').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                ${res.message}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>`)
                                            }
                                        }).catch(err=>{
                                            $('.output').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                ${err}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>`)
                                        })
                                    }
                                    
                                }
                            }
                        }
                    }            
                });
            
            
            });

            
        }).catch(err=>{
            console.log(err)
        })
    }
    $('.text-tooltip').hide();
    $('.video-tooltip').hide();
    $('.image-tooltip').hide();
    $('.grid-tooltip').hide();
    $('.feedback-tooltip').hide();
    $('.order-tooltip').hide();
    $('.button-tooltip').hide();
    $('.show_addl').hide();
    $('#show_button').hide();
    $('#show_grid').hide();
    $('#popList').on('change', function(){
        let x = $(this).val()
        $('.text-tooltip').hide();
        $('.video-tooltip').hide();
        $('.image-tooltip').hide();
        $('.grid-tooltip').hide();
        $('.feedback-tooltip').hide();
        $('.order-tooltip').hide();
        $('.button-tooltip').hide();
        $('.show_addl').hide();
        $('#show_button').hide();
        $('#show_grid').hide();
        if(x=='text'){
          $('.text-tooltip').show();
          $('.freetext').attr('placeholder', 'Enter valid Text Response');
        }
        if(x=='video'){
          $('.video-tooltip').show();
          $('.freetext').attr('placeholder', 'Enter valid Video url');
        }
        if(x=='image'){
          $('.image-tooltip').show();
          $('.freetext').attr('placeholder', 'Enter valid Image url');
        }
        if(x=='button'){
          $('.button-tooltip').show();
          $('.show_addl').show();
          $('#show_button').show();
          $('.freetext').attr('placeholder', 'Enter valid Text description for the button widget selection');
        }
        if(x=='grid'){
          $('.grid-tooltip').show();
          $('.show_addl').show();
          $('#show_grid').show();
          $('.freetext').attr('placeholder', 'Enter valid title for grid');
        }
        if(x=='feedback'){
          $('.feedback-tooltip').show();
          $('.show_addl').show();
          $('.freetext').attr('placeholder', 'Enter valid Ttitle for feedback');
        }
        if(x=='order'){
          $('.order-tooltip').show();
          $('.show_addl').show();
          $('.freetext').attr('placeholder', 'Enter valid title for order');
        }
        if(x != ""){
            let fd= new FormData();
            fd.append('uid', x)
            let url = window.location.origin + "/fetch-response/" + x
            fetch(url ,{
                method : 'GET',
                headers : {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
            }).then(res=> res.json()).then(res=>{
                if(res.statusCode == 200){
                    let data = JSON.parse(JSON.stringify(res.message));

                    // console.log(data)
                }
            }).catch(err=>{
                console.log(err)
            })
        }
    })
    // Custom Form Submit
    const form = document.querySelector("#config-form");
    form.addEventListener("submit", function (event) {
      // stop form submission
      event.preventDefault();
      var msgType = $('#popList').val();
      var msgReq =  $("#Reqq").val();
      var msgFreetext =  $("#freetext").val();
      if(msgType == 'text'){
        messageData = {
            text:msgFreetext
        }
        messageData = JSON.stringify(messageData);
        $('#output').val(messageData);
      }
      if(msgType == 'image'){
        messageData = {
          "attachment":{
              "type":"template",
              "payload":{
                "template_type": "media",
                "elements": [
                   {
                      "media_type": "image",
                      "url": msgFreetext
                   }
                ]
              }
          }
        }
        messageData = JSON.stringify(messageData);
        $('#output').val(messageData);
      }
      if(msgType == 'video'){
        messageData = {
          "attachment":{
            "type":"template",
            "payload":{
              "template_type": "media",
              "elements": [
               {
                "media_type": "video",
                "url": msgFreetext
               }
              ]
            }
          }
        }
        messageData = JSON.stringify(messageData);
        $('#output').val(messageData);
      }
      if(msgType == 'button'){
        var btnJsonStr = '';
        var ItemArray = [];
        ItemArray.push({
          attachment:{
            type : 'template', 
            payload:{
              template_type:'button',
              text:'test',
              buttons: []
            }
          }
        });
       
        var obj = {};
        $('#show_button tr').each(function(idx) {
          var buttontype = $(this).find('#buttontype').val();
          var btn_url = $(this).find('.btn_url').val();
          var btn_txt = $(this).find('.btn_txt').val();
          obj['type'] = buttontype;
          obj['url'] = btn_url;
          obj['title'] = btn_txt;
          ItemArray[0].attachment['payload']['buttons'].push(obj);
        });
        var messageData = JSON.stringify(ItemArray);
        // console.log(messageData);
        // btnJsonStr = btnJsonStr.replace(/,\s*$/, "");
        $('#output').val(messageData);
      }
      if(msgType == 'grid'){
        $('#output').val(msgFreetext);
      }
      if(msgType == 'feedback'){
        // $('#output').val(msgFreetext);
      }
      if(msgType == 'order'){
        // $('#output').val(msgFreetext);
      }
      // form.submit();
    });    
    // Custom Form Submit
</script>