<form class="needs-validation" id="config-form" method="post" action="/config-site/{{ id }}">

    <div class="row">
        
        <div class="col-md-12 order-md-2 mb-4">
            <h4 class="mb-3">Config Form</h4>

            <div class="text-right">
                <i class="fa fa-plus-square fa-2x" onclick="addRow('dataTable')" title="Click to Add More"></i>
            </div>
        
            <hr class="mb-3">

            <table id="dataTable" width="100%" border="0">
                <tbody>
                    <tr>
                    <td width="200">
                        <select name="populated_List[]" class="form-control popList" required id="popList">
                            <option value="">Select Type</option>
                            <option value="button">button</option>
                            <option value="text">text</option>
                            <option value="image">image</option>
                            <option value="video">video</option>
                            <option value="feedback">feedback</option>
                            <option value="grid">grid</option>
                            <option value="order">order</option>
                        </select>
                    </td>
                    <td width="250"><input type="text" name="Reqq[]" class="form-control" placeholder="Req"/></td>
                    <td width="250"><textarea type="text" name="Response[]" class="form-control" placeholder="Response" id="output" /></textarea></td>
                    
                </tr>
                </tbody>
                
            </table>         
            
        </div>

    </div>

    <div class="col-sm-2">
        <button class="btn btn-primary btn-md btn-block" type="submit">Submit</button>
    </div>
</form>

<br/>
<hr class="mb-4">


<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="">Records </h4>
        </div>
        <div class="panel-body text-center">            
            <div id="grid"></div>
        </div>
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script>
    function addRow (tblID) {
        
        var table = document.getElementById(tblID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var colCount = table.rows[0].cells.length;

        for(var i=0; i<colCount; i++) {

            var newcell	= row.insertCell(i);

            newcell.innerHTML = table.rows[0].cells[i].innerHTML;
            //alert(newcell.childNodes);
            switch(newcell.childNodes[0].type) {
                case "text":
                        newcell.childNodes[0].value = "";
                        break;
                case "checkbox":
                        newcell.childNodes[0].checked = false;
                        break;
                case "select-one":
                        newcell.childNodes[0].selectedIndex = 0;
                        break;
            }
        }

    }

    $('#popList').on('change', function(){
        let x = $(this).val()
        
        if(x != ""){
            let fd= new FormData();
            fd.append('uid', x)
            let url = window.location.origin + "/fetch-response/" + x
            fetch(url ,{
                method : 'GET',
                headers : {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
            }).then(res=> res.json()).then(res=>{
                if(res.statusCode == 200){
                    let data = JSON.parse(JSON.stringify(res.message));

                    console.log(data)
                }
            }).catch(err=>{
                console.log(err)
            })
        }
    })

    var gridData = [
        {
            "id": 0,
            "type": 1514141441,
            "req": "8d1e53cb-464e-47c8-8742-068b3646b388",
            "response": true
        },
        {
            "id": 1,
            "type": 1514141441,
            "req": "1ca20df6-6ebe-44d2-b3bd-ef6d47c56404",
            "response": true
        }
    ]
   
    $(document).ready(function () {
        $("#grid").shieldGrid({
            dataSource: {
                data: gridData,
                schema: {
                    fields: {
                        id: { path: "id", type: Number },
                        type: { path: "type", type: String },
                        req: { path: "req", type: String },
                        response: { path: "response", type: String }
                    }
                }
            },
            sorting: {
                multiple: true
            },
            rowHover: false,
            columns: [
                { field: "type", title: "Type", width: "120px" },
                { field: "req", title: "Req", width: "150px" },
                { field: "response", title: "Response" },              
                {
                    width: 70,
                    title: "Action",
                    buttons: [
                        { commandName: "edit", caption: "Edit" },
                    ]
                }
            ],
            editing: {
                enabled: true,
                mode: "popup",
                confirmation: {
                    "delete": {
                        enabled: true,
                        template: function (item) {
                            return "Delete row with ID = " + item.id
                        }
                    }
                }
            }            
        });

       
    });
</script>